.sidebar {
    float: left;
}

button.inactive {
    opacity: 0.5;
}

table#sensors th {
    text-align: left;
}

table#sensors tr.inactive {
    background-color: lightsteelblue;
    transition: background-color 0.5s;
}

tr.sensor button {
    margin: 0 0.5em;
}
