div#global-config {
    padding: 2em
}

div#global-config div {
}

.sidebar {
    float: left;
}

button.inactive {
    opacity: 0.5;
}

/* sensors list */
ul#sensors {
    display: block;
}

ul#sensors li.inactive {
    background-color: PapayaWhip;
    transition: background-color 0.5s;
}

ul#sensors li span.sensor-name h3 {
    display: inline;
}

ul#sensors li span.sample-count {
    font-size: x-large;
}

/* channels list */
ul.channels {
    list-style-type: none;
}

ul.channels li span.sparkline {
    position: relative;
    left: 50%;
}

span.sparkline {
    height: 4em;
}

.meta {
    color: #999;
}

.meta * {
    color: #000;
}